//- ------------------------------------
//- include local variables
//- 
block variables

doctype html
html(lang: "ja")
  //- ------------------------------------
  //- include head element
  //- 
  include /_partial/_head

  //- ------------------------------------
  //- begin body
  //- 
  body