//- ------------------------------------
//- variables this page
//- 
block variables
  - var TITLE       = 'Galaxy | renoat.net';
  - var DESCRIPTION = 'Galaxy';
  - var KEYWORD     = '';

//- ------------------------------------
//- script this page
//- 
block scripts
  //- example
  script(src='js/bundle.js')

//- ------------------------------------
//- extend
//- 
extends /_layouts/_default